/* common */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fine common */

/* inizio debug  */

.debug .logo-header {
    background-color: #E67AE6;
}

.debug .slider {
    background-color: #E1D67A;
}

.debug .container {
    background-color: #1286FF;
}

.debug .content {
    background-color: #ABCFE7;
}

.debug footer {
    background-color: #8702FD;
}

/* fine debug  */


/* Inizio Header  */

header{
    width: 80%;
}

.logo-header {
    height: 200px;
    margin: 20px auto;
}

.logo img{
    width: 20%;
    vertical-align: middle;
    line-height: 120px;
    padding: 10px;
    border-right: 1px solid #A2A2A2;
    margin-bottom: 30px;
}

ul li {
    display: inline;
    padding: 10px;
    text-transform: uppercase;
    color: #A2A2A2;
}

/* fine Header  */

/* inizio slider  */

.slider{
    height: 400px;
    margin: 20px auto;
}

/* fine slider  */

/* Inizio main  */
.container{
    width: 80%;
    margin: 0 auto;
}

.content {
    padding: 5px;
    margin: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.intro{
    width: 100%;
    margin: 0 auto;
}

.left-sidebar {
    width: calc(100% / 4 - 10px);
    margin-left: 0;
    float: left;
}

.right-sidebar {
    width: calc(100% / 4 - 10px);
    margin-right: 0;
    float: right;
}

.center {
    width: calc((100% / 4 - 10px) * 2);
    float: left;
}

/* fine main  */

/* inizio footer  */
footer{
    width: 80%;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 15px;
}
/* Fine footer  */
