/* common */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: white;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

p, h4{
    color: #A2A2A2;
}

/* Fine common */

/* inizio debug  */

.debug .logo-header {
    background-color: #E67AE6;
}

.debug .slider {
    background-color: #E1D67A;
}

.debug .container {
    background-color: #1286FF;
}

.debug .content {
    background-color: #ABCFE7;
}

.debug footer {
    background-color: #8702FD;
}

/* fine debug  */


/* Inizio Header  */

header{
    width: 80%;
}

.logo-header {
    height: 200px;
    margin: 10px auto;
}

.logo img{
    width: 16%;
    vertical-align: middle;
    line-height: 120px;
    padding: 10px;
    border-right: 1px solid #F8F8F8;
    margin-bottom: 30px;
}

ul li {
    display: inline;
    padding: 10px;
    text-transform: uppercase;
    color: #A2A2A2;
}

/* fine Header  */

/* inizio slider  */

.slider{
    margin-top: 30px 0;
    margin-bottom: 30px;
    position: relative;
}

.slider img {
    width: 100%;
    height: 490px;
    object-fit: cover;
    border-radius: 20px;
}

nav .bigger {
    position: absolute;
    bottom: 100px;
    left: 50px;
    font-size: 30px;
}

nav .smaller {
    position: absolute;
    bottom: 70px;
    left: 50px;
}

.overlay-slider {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
}

/* fine slider  */

/* Inizio main  */
.container{
    width: 80%;
    margin: 0 auto;
}

.content {
    padding: 5px;
    margin:10px;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}
/* content intro  */
h1 {
    color: black;
    font-size: 40px;
}

.intro p {
    color: #A2A2A2;
}

.intro{
    width: 100%;
    margin: 0 auto;
}
/* fine content intro  */
/* left sidebar and center content */

.left-sidebar {
    width: calc(100% / 5 );
    margin-left: 0;
    margin-left: 10px;
    float: left;
}
 
/* applying object fit rules  */
.content img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 10px;
}

h4 {
    margin-top: 27.5px;
}

/* applying calc rule  */
.right-sidebar {
    width: calc(100% / 5 );
    margin-right: 0;
    margin-left: 10px;
    float: right;
}

.center {
    width: calc((100% / 5 - 10px) * 3);
    float: left;
    margin: 0;
    margin-top: 15px;
}

.content img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
}

.positioning {
    position: relative;
}

/* fine main  */

/* inizio footer  */
footer{
    width: 80%;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 40px;
    color: black;
    font-size: 16px;
    font-weight: 300;
}

.hearth {
    color: red;
}

/* Fine footer  */
